<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <div class="container">
    <mat-card class="example-card">
      <button mat-icon-button color="white" aria-label="Example icon button with a heart icon">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button class="vert" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>share</mat-icon>
          <span>Share</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
      <button (click)="openSnackBar()" class="fave" mat-icon-button color="white" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite_border</mat-icon>
      </button>
      
      <div class="avi">
        <figure>
          <img class="avatar" src="assets/hossein-moradi--IqHEUdUUh0-unsplash.jpg">
          <div class="verified">
            <mat-icon class="checked">done</mat-icon>
          </div>
          <figcaption>
            <mat-card-title>Hossein Moradi</mat-card-title>
            <mat-card-subtitle class="sub-title">Photography student</mat-card-subtitle>
            <mat-card-subtitle class="sub-title-location"><mat-icon>room</mat-icon><span>Iran</span> </mat-card-subtitle>
            <div class="line">
              <button mat-button color="primary">Message</button>  
            </div> 
          </figcaption>
        </figure>   
      </div>
      <mat-divider></mat-divider>
      <div class="socials">
        <figure>
          <img class="social" src="assets/1 r8AYd7cbKl_6fs61eHj-WQ.jpeg">
          <figcaption>
            <mat-card-title class="follower">11K</mat-card-title>
            <mat-card-subtitle class="sub-title">Followers</mat-card-subtitle>
          </figcaption>
        </figure>
        <figure>
          <img class="social" src="assets/behance-1-logo-png-transparent.png">
          <figcaption>
            <mat-card-title class="follower">11K</mat-card-title>
            <mat-card-subtitle class="sub-title">Followers</mat-card-subtitle>
          </figcaption>
        </figure>
        <figure>
          <img class="social" src="assets/instagram-circle-icon-png-4.png">
          <figcaption>
            <mat-card-title class="follower">8K</mat-card-title>
            <mat-card-subtitle class="sub-title">Followers</mat-card-subtitle>
          </figcaption>
        </figure>
      </div>

      
    </mat-card>
    
  

  </div>
</body>
</html>